
.login{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 94, 0);



}

/* Selecciona el icono por su clase o id */
.icono {
    width: 50px;   /* Cambia el tamaño según lo necesites */
    height: 50px; 
   
}


.login-box {
    min-width: 340px;
    max-width: 400px;

    /* Puedes agregar más estilos personalizados aquí si quieres */
    /* Por ejemplo: */
    /* border: 2px solid #007bff; */
    /* background-color: #fffbe6; */
}